.finder {
  width: 100%;
  height: 100%;
  user-select: none;
  .sidebar {
    width: 150px;
    height: 100%;
    float: left;
    background: rgb(214, 214, 214);
    padding: 5px 0;
    .menu, .sub-menu {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .menu {
      font-size: 12px;
      &>li>span {
        padding-left: 5px;
      }
    }
    .sub-menu {
      font-size: 14px;
      li {
        height: 24px;
        line-height: 24px;
        padding-left: 15px;
        &.active {
          background: rgb(132, 141, 145);
        }
      }
    }
  }
  .finder-body {
    overflow: hidden;
    height: 100%;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 12px;
      width: 200px;
      height: 100%;
      border-right: 1px solid rgb(217, 217, 217);
      li {
        height: 18px;
        line-height: 18px;
        a {
          display: block;
          padding-left: 5px;
          cursor: pointer;
          i.icon {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 5px;
            position: relative;
            &.icon-game {
              top: 2px;
              background: url(./img/game.png);
              background-size: 100%;
            }
          }
        }
      }
    }
  }
}