.browser {
  width: 100%;
  height: 100%;
  position: relative;
  .browser-page {
    height: 100%;
    .address-bar {
      border-bottom: 1px solid #ddd;
      height: 30px;
      padding: 4px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        height: 22px;
        li {
          padding: 0 5px;
          border-radius: 50%;
          cursor: pointer;
          line-height: 20px;
          &:hover {
            background: #e0e0e0;
          }
          i {
            font-size: 12px;
          }
          &.address {
            flex: 1;
            border-radius: 0;
            &:hover {
              background: none;
            }
            input {
              width: 100%;
              height: 100%;
              border: 1px solid #f6f6f6;
              background: #f6f6f6;
              border-radius: 20px;
              text-indent: 15px;
              display: block;
              transition: all .5s;
              &:focus {
                border-color: #66c1b6;
              }
              &:hover {
                background: #f1f1f1;
              }
            }
          }
        }
      }
    }
    .body {
      position: absolute;
      top: 30px;
      bottom: 0;
      left: 0;
      right: 0;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}